@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


    <div class="footer">
      <div>
        <div class="footer-socials">
            <iconify-icon class="social-icons" icon="typcn:social-facebook"></iconify-icon>
            <iconify-icon class="social-icons" icon="ph:instagram-logo"></iconify-icon>
            <iconify-icon class="social-icons" icon="mdi:twitter"></iconify-icon>
            <iconify-icon class="social-icons" icon="mdi:google"></iconify-icon>
            <iconify-icon class="social-icons" icon="ri:linkedin-box-fill"></iconify-icon>
        </div>
        <div class="footer-text">
          <iconify-icon class="copyright" icon="ph:copyright"></iconify-icon>
          <p>2022 Fixxo. All Rights Reserved</p>
        </div>
      </div>
    </div>